@import url('http://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* background-color: #56c35a; */
    background: linear-gradient(to bottom, #56c35a 0, #64609c 100%);
    font-family: 'Muli', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3 {
    color: #ffff;
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    width: 500px;
}

textarea {
    border: none;
    display: block;
    width: 100%;
    height: 200px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 16px;
}

.tag {
    background-color: #30323D;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight {
    background-color: #56c35a;
    font-size: large;
    font-weight: bolder;

    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;

}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}