@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
    box-sizing: border-box;
}

body {
    /* background-color: #56c35a; */
    background: linear-gradient(to bottom, #56c35a 0, #64609c 100%);
    font-family: 'Nunito', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3 {
    color: #ffff;
    margin: 10px 0 20px;
    text-align: center;
    font-size:large;
}


h3:hover {
    -webkit-animation: text-shadow-pop-bl 0.6s both;
    animation: text-shadow-pop-bl 0.6s both;
}

 @-webkit-keyframes text-shadow-pop-bl {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  @keyframes text-shadow-pop-bl {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  

h1 {
    color: #ffff;
    margin: 10px 0 20px;
    text-align: center; 
    font-family: 'Nunito', sans-serif;
    
}

.container {
    width: 40%;
    height: 50%
    
}

textarea {
    border: none;
    display: flex;
    width: 100%;
    height: 200px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 16px;
}

.tag {
    background-color: #30323D;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}

/* highlights the tags and add animation to it  */

.tag.highlight {
    background-color: #56c35a;
    font-size: large;
    font-weight: bolder;

    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;

}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* #mainLottie {

    position:absolute; 
    left: 45%; 
    top: 25%; 
    width: 100px; 
    height: 100px;

} */


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(250, 250, 250, 0);
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 0 10px;
 }

 #footer-menu {
    display: block;
    margin-top: 105px;
    }
    #footer-menu ul li {
    display: inline-block;
    margin-right: 140px;
    }